:root{
    --red:#aa1f1f;
}

body{
    background-color:var(--red) ;
 }
 
img{
    width: 10%;
}
 header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
