*{
      margin: 1%;
}

:root{
    --white:var(--branco);
    --mariana: blue;
    --branco: white; 
}

body{
    background-color:var(--red) ;
 }
 
img{
    width: 35%;
}
 header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    }
.intro{
    display: flex;
    background-color: var(--branco);
    border-width: 12px;
   
    
    margin: 18px 26px 27px 4px;
    padding: 77px;
}

#grupo{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(170, 18, 18);
    text-align: center;
  margin-bottom: 0px;
}

.img-grupo{
width: 40%;

}


footer{
    background-color: grey;
    color: #9b100f;
}

header a{
    color: black;
    text-decoration: none;
}